.scroll-reveal {
  margin: 20px 0;
  padding:20PX 20PX 20PX 150px;

}

.scroll-reveal-text {
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 1.5;
  font-weight: 600;
}

.word {
  display: inline-block;
}
@media(max-width:720){
  .scroll-reveal
  {
    padding: 0px 0px 0px 0px;
  }
}